body {
  margin: 4rem;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  background-color: black;
  color: white;
}

.start {
  position: absolute;

}

.p-start {
  max-width: 350px;
  margin-top: -8.5rem;
}

.starting {
  display: flex;
  margin-top: -8rem;
}

.b-start {
  flex: 1;
}


header {
  display: flex;
  margin-bottom: 3rem;
  /* border: 1px solid white; */
  align-items: baseline;
}

.nav {
  display: flex;
}


footer {
  margin-top: 3rem;
  text-align: center;
}

.

p {
  margin: 0;

}

.option {
  align-items: baseline;
  flex: 1;
  font-weight: bold;
}

.back {
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
}

.o-link1 {
  text-align:right;
  margin-right: 3rem;

}
.o-link2 {
text-align:left;
}

/* .story {
  max-width: 700px;
  margin-left: 0 auto;
} */

.story {
  max-width: 100%;
}

.storyline {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom:-3rem;
}



.scene {
  max-width: 100%;
  /* position: relative; */
}

.paper {
  max-width: 70%;
}

.choices {
  display: flex;
  font-size: 1.5rem;
  margin-top: -8rem;
  /* margin-bottom: 4rem; */
  /* margin-bottom: 1rem; */
}



.choice {

  text-align:center;

}

.intext-link {
text-decoration: none;
color: white;
}
.intext-link:hover {
  text-decoration:underline;
  color:white;

}

.c-text {
    font-size: 1.5rem;
    margin-top: -50%;
    margin-bottom: 50%;
}
